#Temp prevent group test files generated in /repository/
#from being pushed to github to stop mass file clutter 
#every time we run an analysis
/repository/

#stray pycache generation
*.pyc
*.pyo
__pycache__/
**/__pycache__
