
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Open+Sans:wght@300&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap" rel="stylesheet');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}


body{
    background-color: white; /*Place Holder for background color*/
}








/*UPDATE CSS PLEASE*/
.home {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 2rem;
    text-align: center;

}

.home-content h1 { 

    font-size: 1rem;
    font-weight: 1;
    line-height: 1.3;
    text-align: center;
    color: black;
    -webkit-text-fill-color: black;
    

}







/*Header Design Section*/
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .2s;
}

.navbar a:hover,
.navbar a.activate {
    color: var(white)
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #d2b48c;
    /*backdrop-filter: blur(10px) saturate(70%);*/
}






.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}



/*Footer Design */
.footer {
    padding-top: 100px;
    text-align: center;
}

.footer-text p{
    font-size: 1.2rem;
    color: var(--text-color);
}
